@import "tailwindcss";

@font-face{
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf');
    font-weight: 600;
}
@font-face{
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/static/Outfit-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Young-Serif";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: normal;
}

@theme {
    --font-young: Young-Serif, system-ui;
    --font-outfit: Outfit, system-ui;
    --color-rose-800: #7a284e;
    --color-rose-50: #fff7fb;
    --color-stone-900: #312e2c;
    --color-stone-600: #5f564d;
    --color-stone-150: #e3ddd7;
    --color-stone-100: #f3e5d7;
    --color-brown-800: #854632;
}